# Core service
NODE_ENV=development
PORT=4000
HOST=0.0.0.0
FRONTEND_URL=http://localhost:4001

# Mongo
MONGODB_URI=mongodb://127.0.0.1:27017/nexand-shipment
MONGODB_DB=nexand-shipment

# File storage
FILE_STORAGE_BUCKET=local
FILE_STORAGE_DIR=./tmp/uploads

# External services
YAMATO_CALC_BASE_URL=https://yamato-calc.nexand.org

# Auth
SESSION_SECRET=replace-me
JWT_SECRET=replace-me




